.sobre-nos {
    background: var(--bd-terra);
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(../img/imagens-carrossel/banner-sobre-nos.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.banner__descricao {
    padding: 5rem 0 2rem 0;
}

.banner p {
    color: var(--text-light);
    font-size: 2rem;
    font-family: var(--fonte-principal);
    padding: .5rem;
}

.banner h2 {
    color: var(--text-green);
    font-size: 3rem;
    font-family: var(--fonte-principal);
}

.sobre-nos__content {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.sobre-nos__descrição h1 {
    color: var(--text-red);
    font-size: 6rem;
    font-family: var( --fonte-titulo);
}

.sobre-nos__descrição h2 {
    font-family: var(--fonte-secundaria);
    font-size: 4rem;
}

.sobre-nos__descrição p {
    font-family: var(--fonte-secundaria);
    font-size: 2.5rem;
}

.sobre-nos__carrossel {
    padding: 2rem 0;
}

.swiper {
    width: 30rem;
    height: 40rem;
}

.swiper img {
    width: 95%;
    height: 95%;
    border-radius: 10px;
}


.swiper-slide {
display: flex;
align-items: center;
justify-content: center;
border-radius: 18px;
font-size: 22px;
font-weight: bold;
color: #fff;
}

.swiper-slide:nth-child(1n) {
background-color: var(--bg-dark);
}

.swiper-slide:nth-child(2n) {
background-color: var(--bg-dark);
}

.swiper-slide:nth-child(3n) {
background-color: var(--bg-dark);
}

.swiper-slide:nth-child(4n) {
background-color: var(--bg-dark);
}

.swiper-slide:nth-child(5n) {
background-color: var(--bg-dark);
}

.swiper-slide:nth-child(6n) {
background-color: var(--bg-dark);
}

.swiper-slide:nth-child(7n) {
background-color: var(--bg-dark);
}

.swiper-slide:nth-child(8n) {
background-color: var(--bg-dark);
}

.swiper-slide:nth-child(9n) {
background-color: var(--bg-dark);
}

.swiper-slide:nth-child(10n) {
background-color: var(--bg-dark);
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    
    
}

  