@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kolker+Brush&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

:root {
    --text-dark: #000;
    --text-light: #fff;
    --text-red: #C40C0C;
    --text-green: #005B41;

    --bg-green-light: #005b41fa;
    --bg-green-dark: #103a2efa;
    --bg-green-tranparent: #094b3869;
    --bd-terra: #AF8F6F;
    --bg-dark: #000;
    --bg-red: #C40C0C;
    --bg-white: #fff;
    --bg-grandient-green: linear-gradient(to right, #094b3869 100%, #094b38 75%, #094b38 50%);

    --fonte-principal: "Source Serif 4", serif;
    --fonte-secundaria: "Dancing Script", cursive;
    --fonte-titulo: "Kolker Brush", cursive;
}